.content {
    background-color: #F9F9F9;
    border-radius: 20px;
    padding: 28px;
    margin-top: 28px;
}

.months {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.months * {
    cursor: pointer;
    font-size: 12px;
    color: #00000050;
}

.previousArrow, .nextArrow {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
    width: 34px;
    background-color: #fff;
    box-shadow: 0px 2px 2px #00000005;
    border-radius: 50%;
}

.currentMonth {
    font-weight: bold;
    color: #000;
}

.dayOfWeek {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: bold;
    font-size: 14px;
}

.dayOfMonth {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    color: #397FFE;
    font-size: 14px;
}

.eachDayOfMonth {
    cursor: pointer;
    width: 100%;
    /* height: 100%; */
    margin-top: 18px;
}

.eachDayOfMonth:hover {
    font-weight: bold;
    color: white;
    background: linear-gradient(90deg, #508EFF 4.01%, #CB70EA 98.73%);
}

.eachDayOfMonth:nth-child(7) {
    color: #fff;
    background: linear-gradient(90deg, #FF8C56 4.01%, #FFB215 98.73%);
    border-radius: 26px;
}