.content {
    width: 100%;
    background-color: #F8F8F8;
    border-radius: 20px;
    margin-top: 28px;
    display: flex;
    justify-content: space-between;
    padding: 28px;
}

.project1, .project2, .project3 {
    width: 100%;
    padding: 10px;
    text-align: left;
}

.project1, .project2 {
    margin-bottom: 28px;
}

.project1 {
    background-image: linear-gradient(90deg, #41A9FA 4.01%, #94D2FF 98.73%);
}

.project2 {
    background-image: linear-gradient(90deg, #FF6C75 4.01%, #FF9074 98.73%);
    margin-left: 28px;
}

.project3 {
    background-image: linear-gradient(90deg, #FF8C56 4.01%, #FFB215 98.73%);
}

.projectName {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.projectDate {
    font-size:10px;
    color: #fff;
}

.usersProgress {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-right: 28px;
}

.users {
    border: 1px solid black;
    border-radius: 26px;
}

.userIcon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin: 5px;
}

.progress {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150%;
    height: 52px;
    border-radius: 26px;
    background-color: #000;
    margin-top: 28px;
}

.progressBar {
    width: 80%;
    height: 100%;
    border-radius: 26px;
    background-image: linear-gradient(90deg, #508EFF 4.01%, #CB70EA 98.73%);
}

.progressText {
    color: #fff;
}