.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 56px;
}

.tasksIconText {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
}

.tasksIcon {
    border: 1px solid red;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin-right: 20px;
}

.taskStatus {
    font-size: 14px;
}

.taskNumber {
    font-size: 22px;
    font-weight: bold;
    color: #00000050;
}